
body {
  font-family: "Overpass",sans-serif;
  color: #FFFFFF;
}

.header {
  background-color: #E65F2A;
  padding: 15px 20px;
}

h1 {
  font-weight: 400;
  font-size: 25px;
  margin: 10px 0px 20px 0px;
}

h3 {
  font-weight: 200;
  font-size: 12px;
  margin: 5px 0px 15px 0px;
}


.resume, .contact {
  display: inline-block;
  width: 90px;
  border: 1px solid #FFFFFF;
  margin: 10px 10px 0px 0px;
  padding: 4px;
}

.resume:hover {
  background-color: #ea7648;
  cursor: pointer;
}

.contact:hover{
  background-color: #ea7648;
  cursor: pointer;
}

.icon-header {
  vertical-align: middle;
}

p {
  display: inline-block;
  font-size: 12px;
  margin: 4px 0px 4px 0px;
}

.box {
  width: 100%;
  position: absolute;
  bottom: 0px;
  height: 30px;
  opacity: .6;
}

.box1 {bottom: 180px;}
.box2 {bottom: 150px;}
.box3 {bottom: 120px;}
.box4 {bottom: 90px;}
.box5 {bottom: 60px;}
.box6 {bottom: 30px;}
.box7 {bottom: 0px;}

.box:hover {
  opacity: .9;
  border: 1px solid #FFFFFF;
  cursor: pointer;
}

.icon-boxes {
  display: none;
}

h2 {
  display: inline-block;
  text-indent: 80px;
  font-size: 18px;
  margin: 0px;
  padding: 5px 0px 0px 0px;
}

/*colors source: https://coolors.co/e65f2a-353432-274060-335c81-65afff */
.box1 {background-color: #335C81;}
.box2, .box6 {background-color: #274060;}
.box3 {background-color: #353432;}
.box4 {background-color: #E65F2A;}
.box5, .box7 {background-color: #65AFFF;}

/*icons source: https://www.materialpalette.com/icons*/
.icon-img {
  position: absolute;
  top: 300px;
  border: 2px solid #FFFFFF;
  border-radius: 13px;
}

.left-arr {
  left: 15px;
}

.right-arr {
  right: 15px;
}

.icon-img:hover {
  background-color: #FFFFFF;
  opacity: .3;
  cursor: pointer;
}


@media screen and (min-width: 700px) {

  .container {
    display: inline-block;
    width: 60%;
  }

  .boxes {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
  }

  .header, .box {
    opacity: 1;
    box-sizing: border-box;
  }

  .header {
    width: 66.666%;
    height: 33.333%;
  }

  .box {
    position: static;
    flex: 1;
    min-width: 33.333%;
    height: 33.333%;
  }

  .icon-boxes {
    display: block;
    position: relative;
    top: 30%;
    margin: 0px auto;
  }

  h2 {
    display: block;
    position: relative;
    top: 30%;
    text-align: center;
    text-transform: uppercase;
    text-indent: 0px;
  }

  #hero {
    float: right;
    width: 40%;
  }

  .icon-img {
    width: 36px;
    border-radius: 20px;
  }

  .left-arr {
    left: 62%
  }

  .right-arr {
    right: 2%
  }

}
